# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Build / cache
.mypy_cache/
.pytest_cache/
dist/
build/

# IDE / editor
.vscode/
.idea/


*.guiproj
